# Pandas Series

Pandas Series is a One Dimensional indexed array. It is most similar to the NumPy array. pandas.Series is a method to create a series.

In [1]:
#import libraries
import pandas as pd

In [4]:
pd.__version__

'0.25.1'

# Methods of Creating a Series

# 1. Creating series from list

but first, we are creating a list

In [5]:
list1 = [1,2,3,4,6, 'Sunil',7,8,9]
list1

[1, 2, 3, 4, 6, 'Sunil', 7, 8, 9]

Python list stores int, float, string data types

Creating series using the above list

In [7]:
Series1 = pd.Series(list1)
Series1

0        1
1        2
2        3
3        4
4        6
5    Sunil
6        7
7        8
8        9
dtype: object

In [8]:
type(Series1)

pandas.core.series.Series

pandas.core.series.Series means series is a one-dimensional array, which can store indexed data

# 2. Creating Empty Series

Empty series is like an empty list, we can create empty series using an empty list

In [10]:
empty_series = pd.Series([])
empty_series

Series([], dtype: float64)

# 3. Creating Series using a different method

In [11]:
Series2 = pd.Series([1,2,3,4,5,6,7])
Series2

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [17]:
Series3 = pd.Series([1,2,3,4,5,6,7], index = ['a','b','c','d','e','f','g'])
Series3

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

We can change index to any numbers, alphabates, names etc.

In [18]:
Series4 = pd.Series([1,2,3,4,5,6,7], index = ['a','b','c','d','e','f','g'], dtype = float )
Series4

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    6.0
g    7.0
dtype: float64

# 4. Creating series from scalar values

scalar values means single value

In [19]:
Series_Scalar1 = pd.Series(2)
Series_Scalar1

0    2
dtype: int64

In [21]:
Series_Scalar2 = pd.Series(2, index = [1,2,3,4,5,6])
Series_Scalar2

1    2
2    2
3    2
4    2
5    2
6    2
dtype: int64

# 5. Creating series from python dictionary

In [23]:
Dict1 = pd.Series({'a' : 'Sunil', 'b' :'Kumar', 'c' : 'Prajapati'})
Dict1

a        Sunil
b        Kumar
c    Prajapati
dtype: object

# Let's Access element from series

In [29]:
Series3

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [35]:
Series3[1]

2

# Slicing series

In [36]:
Series3[1:3]

b    2
c    3
dtype: int64

# Adding two serieses

In [42]:
Series5 = pd.Series([1,2,3,4,5])
Series6 = pd.Series([5,6,7,8,9])

In [44]:
print(Series5 + Series6)

0     6
1     8
2    10
3    12
4    14
dtype: int64

# Or

We can also add series using add method

In [45]:
Series5.add(Series6)

0     6
1     8
2    10
3    12
4    14
dtype: int64

min() operator gives minimum value of particular series

In [47]:
min(Series5)

1

max() operator gives minimum value of particular series

In [48]:
max(Series5)

5

# Conditional operator

In [50]:
Series5[Series5 <4]

0    1
1    2
2    3
dtype: int64

Using drop() function we can eliminate any index value

In [51]:
Series5.drop(3)

0    1
1    2
2    3
4    5
dtype: int64