Write csv file means to do some operations for data preprocessing or data cleaning.Data preprocessing is a data mining technique that involves transforming raw data into an understandable format.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\SUNIL\\Pandas Library Practice\\Pandas Project\\Stock-Market-Analysis-master\\AMD.csv')
print(df)

            Date       Open       High        Low      Close  Adj Close  \
0     2003-12-31  15.200000  15.200000  14.810000  14.900000  14.900000
1     2004-01-02  15.100000  15.110000  14.770000  14.860000  14.860000
2     2004-01-05  15.050000  15.270000  15.010000  15.200000  15.200000
3     2004-01-06  15.210000  15.820000  15.050000  15.610000  15.610000
4     2004-01-07  15.780000  15.990000  15.490000  15.660000  15.660000
...          ...        ...        ...        ...        ...        ...
3948  2019-09-09  30.930000  31.180000  30.240000  30.500000  30.500000
3949  2019-09-10  30.219999  30.379999  29.770000  30.230000  30.230000
3950  2019-09-11  30.379999  30.430000  29.510000  29.760000  29.760000
3951  2019-09-12  30.080000  30.840000  29.950001  30.209999  30.209999
3952  2019-09-13  30.270000  30.850000  29.950001  30.690001  30.690001

        Volume
0      7395900
1      8220700
2      9156000
3     14592200
4     15329300
...        ...
3948  54413200
3949  48604800
3950  50631700
3951  53618300
3952  47758800

[3953 rows x 7 columns]

To know the type of the dataset use type function

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df.head()

         Date   Open   High    Low  Close  Adj Close    Volume
0  2003-12-31  15.20  15.20  14.81  14.90      14.90   7395900
1  2004-01-02  15.10  15.11  14.77  14.86      14.86   8220700
2  2004-01-05  15.05  15.27  15.01  15.20      15.20   9156000
3  2004-01-06  15.21  15.82  15.05  15.61      15.61  14592200
4  2004-01-07  15.78  15.99  15.49  15.66      15.66  15329300

To know all the columns name

In [5]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

If you want to read some specific rows of the dataset use nrows parameters

In [6]:
df = pd.read_csv('C:\\Users\\SUNIL\\Pandas Library Practice\\Pandas Project\\Stock-Market-Analysis-master\\AMD.csv', nrows = 5)
print(df)

         Date   Open   High    Low  Close  Adj Close    Volume
0  2003-12-31  15.20  15.20  14.81  14.90      14.90   7395900
1  2004-01-02  15.10  15.11  14.77  14.86      14.86   8220700
2  2004-01-05  15.05  15.27  15.01  15.20      15.20   9156000
3  2004-01-06  15.21  15.82  15.05  15.61      15.61  14592200
4  2004-01-07  15.78  15.99  15.49  15.66      15.66  15329300

In [7]:
df = pd.read_csv('C:\\Users\\SUNIL\\Pandas Library Practice\\Pandas Project\\Stock-Market-Analysis-master\\AMD.csv', nrows = 5,usecols = [0,6])
print(df)

         Date    Volume
0  2003-12-31   7395900
1  2004-01-02   8220700
2  2004-01-05   9156000
3  2004-01-06  14592200
4  2004-01-07  15329300

In [8]:
df = pd.read_csv('C:\\Users\\SUNIL\\Pandas Library Practice\\Pandas Project\\Stock-Market-Analysis-master\\AMD.csv', skiprows = [3])
print(df)

            Date       Open       High        Low      Close  Adj Close  \
0     2003-12-31  15.200000  15.200000  14.810000  14.900000  14.900000
1     2004-01-02  15.100000  15.110000  14.770000  14.860000  14.860000
2     2004-01-06  15.210000  15.820000  15.050000  15.610000  15.610000
3     2004-01-07  15.780000  15.990000  15.490000  15.660000  15.660000
4     2004-01-08  15.950000  16.000000  15.590000  15.930000  15.930000
...          ...        ...        ...        ...        ...        ...
3947  2019-09-09  30.930000  31.180000  30.240000  30.500000  30.500000
3948  2019-09-10  30.219999  30.379999  29.770000  30.230000  30.230000
3949  2019-09-11  30.379999  30.430000  29.510000  29.760000  29.760000
3950  2019-09-12  30.080000  30.840000  29.950001  30.209999  30.209999
3951  2019-09-13  30.270000  30.850000  29.950001  30.690001  30.690001

        Volume
0      7395900
1      8220700
2     14592200
3     15329300
4     11764600
...        ...
3947  54413200
3948  48604800
3949  50631700
3950  53618300
3951  47758800

[3952 rows x 7 columns]

In [9]:
df = pd.read_csv('C:\\Users\\SUNIL\\Pandas Library Practice\\Pandas Project\\Stock-Market-Analysis-master\\AMD.csv', low_memory=True,index_col= 'Date')
print(df)

                 Open       High        Low      Close  Adj Close    Volume
Date
2003-12-31  15.200000  15.200000  14.810000  14.900000  14.900000   7395900
2004-01-02  15.100000  15.110000  14.770000  14.860000  14.860000   8220700
2004-01-05  15.050000  15.270000  15.010000  15.200000  15.200000   9156000
2004-01-06  15.210000  15.820000  15.050000  15.610000  15.610000  14592200
2004-01-07  15.780000  15.990000  15.490000  15.660000  15.660000  15329300
...               ...        ...        ...        ...        ...       ...
2019-09-09  30.930000  31.180000  30.240000  30.500000  30.500000  54413200
2019-09-10  30.219999  30.379999  29.770000  30.230000  30.230000  48604800
2019-09-11  30.379999  30.430000  29.510000  29.760000  29.760000  50631700
2019-09-12  30.080000  30.840000  29.950001  30.209999  30.209999  53618300
2019-09-13  30.270000  30.850000  29.950001  30.690001  30.690001  47758800

[3953 rows x 6 columns]

In [14]:
df = pd.read_csv('C:\\Users\\SUNIL\\Pandas Library Practice\\Pandas Project\\Stock-Market-Analysis-master\\AMD.csv', na_filter = True)
print(df)

            Date       Open       High        Low      Close  Adj Close  \
0     2003-12-31  15.200000  15.200000  14.810000  14.900000  14.900000
1     2004-01-02  15.100000  15.110000  14.770000  14.860000  14.860000
2     2004-01-05  15.050000  15.270000  15.010000  15.200000  15.200000
3     2004-01-06  15.210000  15.820000  15.050000  15.610000  15.610000
4     2004-01-07  15.780000  15.990000  15.490000  15.660000  15.660000
...          ...        ...        ...        ...        ...        ...
3948  2019-09-09  30.930000  31.180000  30.240000  30.500000  30.500000
3949  2019-09-10  30.219999  30.379999  29.770000  30.230000  30.230000
3950  2019-09-11  30.379999  30.430000  29.510000  29.760000  29.760000
3951  2019-09-12  30.080000  30.840000  29.950001  30.209999  30.209999
3952  2019-09-13  30.270000  30.850000  29.950001  30.690001  30.690001

        Volume
0      7395900
1      8220700
2      9156000
3     14592200
4     15329300
...        ...
3948  54413200
3949  48604800
3950  50631700
3951  53618300
3952  47758800

[3953 rows x 7 columns]

In [15]:
df = pd.read_csv('C:\\Users\\SUNIL\\Pandas Library Practice\\Pandas Project\\Stock-Market-Analysis-master\\AMD.csv')
print(df)

            Date       Open       High        Low      Close  Adj Close  \
0     2003-12-31  15.200000  15.200000  14.810000  14.900000  14.900000
1     2004-01-02  15.100000  15.110000  14.770000  14.860000  14.860000
2     2004-01-05  15.050000  15.270000  15.010000  15.200000  15.200000
3     2004-01-06  15.210000  15.820000  15.050000  15.610000  15.610000
4     2004-01-07  15.780000  15.990000  15.490000  15.660000  15.660000
...          ...        ...        ...        ...        ...        ...
3948  2019-09-09  30.930000  31.180000  30.240000  30.500000  30.500000
3949  2019-09-10  30.219999  30.379999  29.770000  30.230000  30.230000
3950  2019-09-11  30.379999  30.430000  29.510000  29.760000  29.760000
3951  2019-09-12  30.080000  30.840000  29.950001  30.209999  30.209999
3952  2019-09-13  30.270000  30.850000  29.950001  30.690001  30.690001

        Volume
0      7395900
1      8220700
2      9156000
3     14592200
4     15329300
...        ...
3948  54413200
3949  48604800
3950  50631700
3951  53618300
3952  47758800

[3953 rows x 7 columns]

In [16]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64