# Python Pandas DataFrame

Pandas DataFrame is two-dimensional , size-mutable, potentially heterogeneous tabular data structure with labeled axes(rows and columns).

# How to create Python DataFrame

In [1]:
#import Libraries
import pandas as pd

# Creating DataFrame with different ways

# 1. Creating empty dataframe

In [2]:
emp_df = pd.DataFrame()
print(emp_df)

Empty DataFrame
Columns: []
Index: []

# 2. Creating dataframe from list

In [25]:
lst = [1,2,3,4,5]

In [26]:
df1 = pd.DataFrame(lst)
print(df1)

   0
0  1
1  2
2  3
3  4
4  5

We can also inline print that command just using that variable name, without using print function

In [5]:
df1

   0
0  1
1  2
2  3
3  4
4  5

Here first row(0) is data values column index/label and first column is index (which is start from 0) and second column have data values.

# 3. Creating dataframe from list of list

In [6]:
lst_of_lst = [[1,2,3],[4,5,6],[7,8,9]]
print(lst_of_lst)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [7]:
df2 = pd.DataFrame(lst_of_lst)
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

# 4. Creating dataframe from dict or dictionary or python dictionary

In [9]:
dict = {'ID' : [13,14,15] }  #Dictionary of list
print(dict)

{'ID': [13, 14, 15]}

In [10]:
df3 = pd.DataFrame(dict)
print(df3)

   ID
0  13
1  14
2  15

In [11]:
dict1 = {'ID' : [13,14,15], 'Emp' : ['S001', 'S002','S003'] }  #Dictionary of list
print(dict1)

{'ID': [13, 14, 15], 'Emp': ['S001', 'S002', 'S003']}

In [12]:
df4 = pd.DataFrame(dict1)
print(df4)

   ID   Emp
0  13  S001
1  14  S002
2  15  S003

# 5. Creating dataframe from list of dict

In [27]:
List_dict = [{'a':1, 'b':2}, {'a':3, 'b':4}]

In [28]:
df5 = pd.DataFrame(List_dict)
df5

   a  b
0  1  2
1  3  4

In [29]:
List_dict2= [{'a':1, 'b':2}, {'a':3, 'b':4, 'c':5}]

In [30]:
df6 = pd.DataFrame(List_dict2)
df6

   a  b    c
0  1  2  NaN
1  3  4  5.0

# 6. Creating dataframe from dict of series

In [36]:
dict_sr = {'ID': pd.Series([1,2,3]), 'SN': pd.Series([111,222,333])}
df7 = pd.DataFrame(dict_sr)
df7

   ID   SN
0   1  111
1   2  222
2   3  333